@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --main-color: #b6f5ae;
}

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #b6f5ae;
}

body {
  background: #383636;
}

.button:focus,
.button:active {
  background: rgba(29, 216, 2, 1);
  box-shadow: 0 4px 2px rgba(157, 255, 142, 0.665);
  transition: 0.5s;
  outline: rgba(29, 216, 2, 1) auto 1px;
  color: #fff;
}

input {
  background-color: #f6f6ff;

  &:focus,
  &:active {
    background: rgb(232, 240, 254);
    outline: rgba(29, 216, 2, 1) auto 1px;
    border-width: 5px;
    color: initial;
  }
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

aside {
  width: 18%;
  left: 26px;
  top: 27px;
  height: 7;
  height: 94%;
  margin-bottom: 10em;
  border: 30%;
  background: inherit;
  padding: 2em 1em;
  box-shadow: 0 7px 20px #393b39, inset 4px 4px 4px #2121216e, inset -4px -4px 4px #7270705e;
  position: absolute;
  border-radius: 20px;

  .nav-list {
    margin-bottom: 1em;
    padding: 1em;

    .url-side {
      font-weight: bolder;
      font-size: 1.2em;
    }

    &:hover > .url-side {
      color: #006e09;
    }

    &:hover,
    &:hover > .url-side:active {
      background: var(--main-color);
      border-radius: 5px;
    }
  }

  .nav-list.active {
    background: #43a047;
    box-shadow: 2px 2px 8px #1111111f;
    border-radius: 5px;
  }
}

main {
  width: -webkit-fill-available;
  margin-left: 23em;
  padding: 2em 4em;
  background-color: inherit;
}

.article {
  // border-style: dashed;
  // border-color: #ccc;
  display: flex;
  flex-direction: column;

  // justify-content: center;
  // justify-items: center;
  align-items: center;
  padding: 4em;
  box-shadow: inset 4px 4px 4px #2121216e, inset -4px -4px 4px #7270705e;
  margin: 4em auto;

  img {
    cursor: pointer;
  }

  &-header {
    padding-bottom: 2em;
    font-size: 1.6em;
  }

  .request {
    background-color: #292828;
    box-shadow: 0 1px 2px #383636;
    width: 100%;
    border-radius: 7px;
    justify-content: space-between;
    position: relative;

    &-headers {
      padding: 1.2em;
      font-size: 1.2em;

      &:nth-child(2) {
        padding-left: 1em;
        text-align: center;
        padding-right: 0;
      }

      &:nth-child(3) {
        padding-right: 2.5em;
        text-align: left;
        padding-left: 0;
      }
    }

    &-headers:last-child {
      padding-right: 3em;
    }
  }

  .request::after {
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: #7d817d;
  }

  .request-status {
    background-color: #424242;
    box-shadow: 0 1px 2px #383636;
    width: 100%;
    padding: 1.4em;
    justify-content: space-between;

    .status-request {
      font-size: 1em;
    }

    .status-request:last-child {
      padding-right: 3em;
    }

    .approval {
      border: none;
      width: 10em;
      padding-left: 2.4em;

      button {
        background-color: var(--main-color);
        border: none;
        padding: 0.5em;
        border-radius: 3px;
        box-shadow: 0 6px 10px #ffffff24;
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:nth-child(1) {
          margin-right: 1em;
        }

        &:active,
        &:focus {
          box-shadow: none;
          outline: transparent ridge 10px;
          border-radius: 0;
          transform: translateY(2px);
        }
      }
    }
  }

  .request-status-table {
    width: 100%;
  }

  .request-status:first-of-type {
    margin-top: 1.4em;
  }

  .request-status:nth-child(odd) {
    background-color: transparent;
    box-shadow: 0 1px 2px #383636;
    margin-top: 0;
  }

  .button-group {
    width: 60%;
    padding: 2em;

    .group-radio {
      margin-left: 1em;
      cursor: pointer;
      padding: 1em 2em;
      width: 50%;
      background: #383636;
      box-shadow: 4px 4px 4px rgb(38 38 38), -4px -4px 4px #ffffff17;
      border-radius: 5px;
      appearance: none;
      font-weight: 900;
      font-size: 1em;
      transition: 0.5s;

      &:focus,
      &:active {
        background: #383636;
        box-shadow: inset 4px 4px 4px rgb(38 38 38), inset -4px -4px 4px #ffffff17;
        transition: 0.5s;
        outline: none;
        color: #fff;
        border: none;
      }
    }
  }

  .form-group {
    padding-top: 2em;

    label {
      font-weight: 600;
    }

    .user-type {
      text-align: left;
      padding-top: 3em;
    }

    input {
      margin-top: 1em;
      width: 34em;
      height: 5em;
      border: none;
      border-radius: 8px;
      padding: 1em;
      box-shadow: 0 7px 20px #393b39, inset 4px 4px 4px #2121216e, inset -4px -4px 4px #7270705e;
      background-color: inherit;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:-internal-autofill-selected {
        outline: transparent ridge 10px;
        box-shadow: none;
      }
    }

    button {
      cursor: pointer;
      padding: 0.5em 1em;
      width: 16em;
      background-color: #ffeb3b;
      border: none;
      border-radius: 5px;
      appearance: none;
      font-weight: 900;
      font-size: 2em;
      transition: 0.5s;
      box-shadow: none;
      color: #006e09;

      &:active,
      &:focus {
        box-shadow: none;
        transform: translateY(3px);
        transition: 0.5s;
        outline: none;
        color: #034f72;
      }
    }
  }
}

.article[data-request="hide"] {
  display: none;
}

.article[data-request="hide"].show {
  animation: show 1s  ease-in-out reverse;
  display: block;

  .form-group.row {
    label {
      width: 35%;
      height: fit-content;
      padding-top: 1em;
      padding-right: 1em;
    }

    input {
      width: 100%;
      margin: 0 3em;

      &:not(&:first-child) {
        margin: 0;
      }
    }
  }
}

.form-group.row::before {
  display: flex;
  flex-direction: column;
}

@keyframes show {
  0% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@import "select";
@import "preferences";
