@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

article {
    padding: 2em;
}

.rwd-table {
    margin: 1em 0;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 9.5em;
    display: inline-block;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th, .rwd-table td {
    text-align: left;
}

@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
}

body {
    padding: 0 2em;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #46627f;
}

.rwd-table th, .rwd-table td {
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th, .rwd-table td:before {
    color: #dd5;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;

    th {
        background-color: $color_light;
        color: #fff;
        font-size: 1.4em;

        &:nth-child(1) {
            border-radius: 10px 0 0 0;
        }

        &:last-child {
            border-radius: 0 10px  0 0;
        }
    }

    tr {
        text-align: left;
    }
}

.custom-table td, .custom-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-table tr:hover {
    background-color: #ddd;
}

.custom-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
