.flex {
  display: flex;
}

// this the flex direction
@each $direction in $directions {
  .flex-#{$direction} {
    flex-direction: #{$direction};
  }
}

@each $content in $contents {
  .justify-space-#{$content} {
    justify-content: justify-space-#{$content};
  }
}
