.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 281.84px;
    z-index: 1;
    background: #fff;
    height: 100%;
    border-radius: 15px;

    .sidebar-nav {
        margin-top: 2em;

        .nav-list {
            color: #fff;
            margin-top: 1.5em;
            padding-left: 1.5em;

            .url-side {
                text-decoration: none;
                font-size: 1.3em;
            }

            &:hover {
                background-color: #08d07e30;
                border-radius: 10px;
                padding: 1em 2em;
                margin-left: 0.7em;
                margin-right: .7em;

                &:last-child {
                    padding: 1em 1em;
                }

                .url-side {
                    color: #fff;
                    background: transparent;
                }
            }
        }
    }
}

a.url-side.row {}

img.url-img {
    width: 15%;
}

span.url-text {
    padding-top: .2em;
    padding-left: 1.3em;
}
