.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
    z-index: 1;
    background: #fff;
    height: 100%;
    border-radius: 15px;

    .sidebar-nav {
        margin-top: 2em;

        .nav-list {
            color: #fff;
            margin-top: 1em;
            padding-left: 1em;

            .url-side {
                text-decoration: none;
                font-size: 1.3em;
            }

            &:hover {
                background: $gradient_1;
                border-radius: 30px;
                padding: 1em 2em;
                width: 90%;
                margin-left: .7em;

                &:last-child {
                    padding: 1em 1em;
                }

                .url-side {
                    color: #fff;
                }
            }
        }
    }
}
